{% extends 'base.html.twig' %}

{% block title %}Hello DrinkController!{% endblock %}

{% block body %}

<div class="modify-drink">
  <h1>Détails des boissons</h1>

    <a class="button-drink-return" aria-current="page" href="{{ url('bar_browse') }}">Retour</a>

    <div class="drink-form">
      {{ form_start(drink_form) }}
      <div class="drink-item">
      {{ form_row(drink_form.category) }}
      </div>
      <div class="drink-item">
      {{ form_row(drink_form.name) }}
      </div>
      <div class="drink-item">
      {{ form_row(drink_form.year) }}
      </div>

    </div>



  <button type="submit" class="button-drink-create">
    {% if 'bar_drink_add' == app.request.get('_route') %}
      Créer la boisson
    {% else %}
      Modifier la boisson
    {% endif %}
  </button>
</div>


{{form_end(drink_form)}}

{% endblock %}
