<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ asset('/assets/css/style.css') }}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Jost:wght@500&display=swap" rel="stylesheet">

        <title>{% block title %}Bar Home{% endblock %}</title>
        
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        {% for message in app.flashes('error') %}
			      <div class="alert alert-success" role="alert">{{ message }}</div>
		    {% endfor %}
    </head>

    <body>
        <header>
          <nav>
              <ul class="main-nav">
                <li class="nav-item">
                  <a class="logo" href="{{ url('main')}}" id="logo-name">
                    <p>
                      Bar Home
                    </p>
                  </a>
                </li>
                {% if app.user %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url('bar_browse') }}">Mon bar</a>
                  </li>
                {% endif %}
                {% if app.user %}
                <p class="user-co">Hey {{ app.user.name }} !!</p>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url('app_logout') }}">Se déconnecter</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ url('app_login') }}">Se connecter</a>
                </li>
                {% endif %}

                <li class="nav-item">
                  <a class="nav-link" id="contact" href="{{ url('contact') }}">Contact</a>
                </li>
              </ul>
          </nav>
        </header>
        <div class="wrapper">

        {% block body %}{% endblock %}
        </div>
        <footer>            
              <ul class="foot-list">		
                  <li class="foot-link">
                    <p>Développé par 
                      <a href="https://sylvainsainteromane.com/" target="_blank"><u>Sylvain Sainte Romane</u></a>
                    </p>
                  </li>
                  <li class="foot-link">
                    <p>© Bar Home 2022</p>
                  </li>
                  <li class="foot-link">
                    <a href="{{ url('app_login') }}">Je me connecte</a>
                  </li>
              </ul>              
        </footer>

    </body>

</html>
