<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ asset('/assets/css/style.css') }}">

        <title>{% block title %}Bar Home{% endblock %}</title>
        
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body>
      <div class="wrapper">
        <header>
          <nav>
            <div class="main-nav">
              <ul class="nav-list">
                <li class="nav-item">
                  <a class="logo" href="{{ url('main')}}" id="logo-name">
											<img class="logo-img" src="{{ asset("assets/img/logo.svg") }}" alt="logo de bar home">
									</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url('app_login') }}">Se connecter</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url('mybar') }}">Mon bar</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url('contact') }}">Contact</a>
                </li>
              </ul>
            </div>
          </nav>
        </header>

        {% block body %}{% endblock %}
      </div>

      <footer></footer>

    </body>

</html>
